[Unit]
Description=Magnesium Order Platform Gunicorn Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/magnesium/magnesium_order_platform
Environment="PATH=/home/magnesium/magnesium_order_platform/venv/bin"
EnvironmentFile=/home/magnesium/magnesium_order_platform/.env
ExecStart=/home/magnesium/magnesium_order_platform/venv/bin/gunicorn magnesium_order_platform.wsgi:application -c deploy/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5s
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
